* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}
/* Global Reset */
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

/* Activity 1: Navbar */
.main-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  gap: 1em; /* Use this OR the flex rule below, but not both */
}

/* Alternative to gap, uncomment to try spacing with flex property */
/*
.main-nav li {
  flex: 0 1 5em;
}
*/

/* Activity 2: Media Card */
.media-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 2em;
}

.media-card__image img {
  width: 100%;
  height: auto;
}

.media-card__content {
  text-align: center;
}

/* Activity 2: Responsive Media Card */
@media screen and (min-width: 550px) {
  .media-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .media-card__image {
    flex: 0 1 250px;
  }

  .media-card__content {
    flex: 0 1 60ch;
    text-align: left;
  }
}

/* Activity 3: Gallery of Cards */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.gallery .media-card {
  flex: 1 1 460px;
}
