body {
  font-family: sans-serif;
  background-color: white;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 20px;
  line-height: 1.5;
}

.subtitle {
  color: #006eb6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

img#logo {
  width: 150px;
  margin-top: 2rem;
}

/* Dark theme override */
body.dark {
  background-color: #333;
  color: white;
}

body.dark .subtitle {
  color: #7ccfff; /* Use a higher contrast blue from BYUI brand palette */
}
